<div class = "tile">
<div class = "restaurant_name"><%=link_to restaurant.name, restaurant_path(restaurant)%></div>
<div class = "price"> Price range: <%=restaurant.price_range%></div>

<img src="<%=restaurant.menu %>"alt="<%=restaurant.name%>">
</div>
