


<p>
<%= link_to 'Add New Restaurant', new_restaurant_path,{:class=>"new"} %></p>
<h1 class = "page-title">Restaurants</h1>

<div class = "tile-container">
  <% @restaurants.each do |restaurant| %>

<%= render 'single_restaurant', restaurant: restaurant %>
<%end%>
</div>
