/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // *,
 //  *::before,
 //  *::after {
 //    box-sizing: border-box;
 //    text-align: center;
 //  }

html {
  box-sizing: border-box;
  font-family: 'JelleeRoman';
  font-size: 100%;
  color: #333333;
  background-color: #fff;
  text-align: center;
 }

body {
  margin: 0;
  padding: 0;
}
// .old{
//   color:black;
// }
// .new {
//   color:black;
// }

 .site-header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.86);
   color: white;
   display: grid;
   grid-template-columns: 80% 1fr;
}

 .site-title {
 text-align: left;
 font-size: 2em;
 }

 a {
  text-decoration: none;
  color: white;

  .list-item {
   text-align: right;
   text-decoration: none;
   // color: ;
  }
 }

 a:hover {
   color: red;
   text-align: center;
 }

.page-title {
  margin-top: 100px;
  font-family: cursive;
  font-size: 3em;
}
 h3 {
   color: black;
 }



 .tile-container {
   margin-top: 50px;
   margin-bottom: 20px;
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 1fr;
   // grid-template-rows: 1fr 1fr;
   max-width: 100%;

   .tile {
       width: 1200px;
       margin: 0 auto;
       height: 400px;
       background-color: rgba(0, 0, 0, 0.86) ;
       color: white;
       // border-bottom: grove;
       // border-top: grove;
       border-radius: 10px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       font-size: 2.5em;
       text-align: left;
       padding-left: 20px;
       .price {
         font-size: 50%;
         text-align: center;
       }


       img {
         max-width: 400px ;
         max-height: 300px;
         margin-bottom: 5px;
         border: 2px solid black;
         border-radius: 10px;
       }

     }
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.86);
  color: white;


}
input[type=submit] {
  background-color: #c64343;
  border: none;
  color: white;
  padding: 10px;
  margin: 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
